@font-face {
    font-family: 'OrdealEroded';
    src: url("fonts/Ordeal-Eroded-FFP.ttf");
}

@font-face {
    font-family: 'RobotoRegular';
    src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'RobotoLight';
    src: url("fonts/Roboto-Light.ttf");
}

div.team-nav-banner {
    width: auto;
    display: flex;
    justify-content: center;
}

img.nav-icon {
    padding: 10px 20px;
    width: 50px;
    height: 50px;
    border: 0px;

}
/** patriots width must be 1.7x of other nav icons to maintain aspect ratio/gravity in nav bar */
img.nav-patriots {
    width: 85px;
}

div.team-sub-banner {
    width: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-family: 'OrdealEroded', sans-serif;
}

img.team-header {
    max-height: 100%;
    max-width: 100%;
}

span.bg-team-name {
    position: absolute;
    top: 50%;
    transform: translate(10%);
    white-space: nowrap;
    float: left;
    font-size: 100px;
    line-height: 0.6;
    text-transform: uppercase;
    color: white;

}

div.result-and-factoids {
    width: 80%;
    font-family: "RobotoLight", sans-serif;
}

div.game-result {
    display: flex;
    position: relative;
    flex-direction: row;
    font-family: "RobotoRegular", sans-serif;
    font-size: 10pt;
    background-color: #fafafa;
    border: 1px solid #ececec;
    height: 115px;
    padding-right: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

div.result-left-wrap {
    flex-direction: column;
    width: 10%;
    border-radius: 10px 0 0 10px;
    text-align: center;
    padding: 10px 10px;
    justify-content: center;
    font-weight: bold;
    background-color: #00b664;
    opacity: 0.4;
}

div.result-middle-wrap {
    display: flex;
    width: 40%;
    height: 90%;
    align-items: center;
    font-weight: bolder;
    font-size: 14pt;
    padding: 15px;
}

img.result-opponent-logo {
    max-height: 75%;
    max-width: 75%;
}

div.result-right-wrap {
    display: flex;
    padding: 5px 1px;
    font-size: 10pt;
    width: 40%;
    height: 90%;
    justify-content: right;
    align-items: center;
}

img.top-player {
    border-radius: 5px;
    max-width: 65px;
    max-height: 90px;
}

div.top-stats {
    flex-direction: column;
    padding: 0 10px 0 10px;
    line-height: 0.6;
    height: 90%;
    margin: 10px;
    border-right: 2px solid #ececec;
}

div.show-details {
    height: 90%;
    width: 15%;
    line-height: 0.6;
    align-items: center;
    justify-content: center;

}

img.img-details {
    max-height: 75%;
    max-width: 75%;
    align-content: center;
}

p.show-details {
    font-family: "RobotoLight", sans-serif;
    color: #00b664;
}

a.home {
    display: block;
    align-content: end;
}